:root {
  color: whitesmoke;
  
}
.App {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  padding-top: 5rem;
}
.timeControls {
  width: 25vw;
  display: inline-block;
}
.timeControls button, .timeControls h3 {
  width: 2rem;
  height: 2rem;
  display: inline-block;
}
.timeControls h3 {
  width: 5rem;
}